<footer class="footer-distributed">

  <div class="footer-left">
    <img src="assets/logo.png" alt="Salon vjenčanica MK" width="100" height="100">

    <p class="footer-links">
      <a routerLink="/pocetna" routerLinkActive="active">Početna</a>
      <a routerLink="/o-nama" routerLinkActive="active">O nama</a>
      <a routerLink="/termin" routerLinkActive="active">Zakazivanje termina</a>
      <a routerLink="/galerija" routerLinkActive="active">Galerija</a>
      <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
    </p>

    <p class="footer-company-name">Salon vjenčanica MK ©2025-staka99</p>
  </div>

  <div class="footer-center">

    <a href="https://maps.app.goo.gl/Fgxxtc6q7cYE4i1L9" target="_blank" style="text-decoration: none; color: inherit;">
      <div>
        <mat-icon class="footer-icon">location_on</mat-icon>
        <p>
          <a href="https://www.google.com/maps/place/Salon+vjencanica+MK+Sarajevo/@43.8177588,18.3624497,15z">Hilandarska 34</a><br>
          Istočno Sarajevo
        </p>
      </div>
    </a>

    <a href="tel:+38765215007" title="Pozovite nas" class="booking-button call" target="_blank" style="text-decoration: none; color: inherit;">
      <div>
        <mat-icon class="footer-icon">phone</mat-icon>
        <p>+387 65 215 007</p>
      </div>
    </a>

    <a href="viber://chat?number=+38765215007" target="_blank" style="text-decoration: none; color: inherit;">
      <div>
        <mat-icon class="footer-icon">chat</mat-icon>
        <p>Viber
      </div>
    </a>

    <a href="https://wa.me/38765215007" target="_blank" style="text-decoration: none; color: inherit;">
      <div>
        <mat-icon class="footer-icon">chat</mat-icon>
        <p>WhatsApp</p>
      </div>
    </a>


  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>6 godina sa vama</span>
      Salon vjenčanica MK već pet godina pruža nezaboravno iskustvo u odabiru savršenih vjenčanica. Pružajući stručnost i pažljivi pristup, Salon vjenčanica MK postao je sinonim za eleganciju i sreću u posebnim trenucima ljubavi i sklapanja braka.
    </p>

    <p class="footer-company-about">
      <span>Posjetite nas na društvenim mrežama</span>
    </p>

    <div class="footer-icons">
      <a href="https://www.instagram.com/salonvjencanica.mk/" aria-label="Instagram">
        <mat-icon class="social-icon">photo_camera</mat-icon>
      </a>
      <a href="https://www.facebook.com/salonvjencanicamk1" aria-label="Facebook">
        <mat-icon class="social-icon">facebook</mat-icon>
      </a>
      <a href="https://youtube.com/@salonvjencanicamk?si=G5E2SFYffH3AqPrI" aria-label="YouTube">
        <mat-icon class="social-icon">smart_display</mat-icon>
      </a>
    </div>

  </div>

</footer>
