/* Osnovna sekcija */
section {
  width: 100%;
  display: inline-block;
  background: #1e1e2e;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer dizajn */
.footer-distributed {
  background: #1e1e2e;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px 'Segoe UI', sans-serif;
  padding: 55px 50px;
  color: #fff;
}

/* Raspored elemenata */
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Lijeva strana */
.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed .footer-links {
  margin: 20px 0 12px;
  padding: 0;
  color: #ffffff;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
}

.footer-distributed .footer-links a:first-child:before {
  content: none;
}

.footer-distributed .footer-company-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: #aaa;
}

/* Centar footera */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer-distributed .footer-center mat-icon {
  background-color: #666;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-distributed .footer-center p {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
}

.footer-distributed .footer-center p a {
  color: #E94560;
  text-decoration: none;
}

/* Desna strana */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 20px 0;
  text-align: justify;
}

.footer-distributed .footer-company-about span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Ikonice društvenih mreža */
.footer-distributed .footer-icons {
  margin-top: 10px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #666;
  border-radius: 4px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  transition: background 0.3s;
}

.footer-distributed .footer-icons a:hover {
  background-color: #E94560;
}

/* Responsive stilovi */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px 'Segoe UI', sans-serif;
    text-align: center;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .footer-distributed .footer-center div {
    justify-content: left;
  }

  .footer-distributed .footer-center mat-icon {
    margin: 0 10px 0 0;
  }
}
