<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">

<div id="title-page"> O nama </div>
<div class="body1">
        <div class="card">
          <div class="content">
            <div class="small-title">Ljubav prema detaljima</div>
            <div class="big-title">Naš početak</div>
            <div class="text">Naša priča započela je 2019. godine, proširujući ljubav prema prefinjenom krojenju i beskrajnoj strasti prema vjenčanicama. Naš salon vjenčanica MK proizlazi iz krojačke priče ispričane sa srcem. Naša misija je stvoriti nezaboravan trenutak za svaku mladenku, sa posebnom pažnjom ka dodavanju posebnosti i elegancije svakom vjenčanju.</div>
          </div>
          <img class="image" src="assets/wedding.png" alt="Slika 1">
        </div>

        <div class="card">
          <img class="image" src="assets/ring.png" alt="Slika 2">
          <div class="content">
            <div class="small-title">Naša vizija</div>
            <div class="big-title">Harmonija stila i sreće</div>
            <div class="text">U Salonu vjenčanica MK, naša vizija je omogućiti jedinstvenost svake mladenke kroz pažljivo odabrane tkanine, sofisticirane krojeve i elegantne detalje. Vizionarski pristup stilu omogućuje nam stvaranje vjenčanica koje odražavaju trenutne trendove i postaju vječne uspomene.</div>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <div class="small-title">Naš cilj</div>
            <div class="big-title">Stalno nam je da budemo dio vašeg posebnog dana</div>
            <div class="text">Naš glavni cilj je jednostavan - želimo da svaka mladenka osjeća neopisivu sreću i samopouzdanje kada obuče jednu od naših vjenčanica. U Salonu vjenčanica MK, radimo s ljubavlju prema detaljima kako bismo pružili iskustvo koje nadmašuje očekivanja. Cilj nam je stvoriti nezaboravne trenutke koji će ostati urezani u srce svake nevjeste, upotpunjujući njen najvažniji dan na način koji je jedinstven, elegantan i nezaboravan.</div>
          </div>
          <img class="imagex" src="assets/heart.png" alt="Slika 3">
        </div>

      <img class="image3" src="assets/heart2.png" alt="Slika 3">

